<div class="container-fluid">
    <div class="footer">
        <p>
            © @DateTime.Now.Year JadooTravel Admin Panel |
            Designed by <a href="#">Emirhan Hacıoğlu</a>
        </p>
    </div>
</div>
