
@{
    ViewData["Title"] = "BookingSuccess";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="alert alert-success text-center mt-5">
    <h4>Teşekkürler 🎉</h4>
    <p>Mesajınız başarıyla alınmıştır. En kısa sürede sizinle iletişime geçeceğiz.</p>
</div>

