<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spike Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
         data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

        <!--  App Topstrip -->
        <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
                <a class="d-flex justify-content-center" href="https://www.wrappixel.com/" target="_blank">
                    <img src="../assets/images/logos/logo-wrappixel.svg" alt="" width="150">
                </a>

                <div class="d-none d-xl-flex align-items-center gap-3">
                    <a href="https://support.wrappixel.com/"
                       class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                        <i class="ti ti-lifebuoy fs-5"></i>
                        Support
                    </a>
                    <a href="https://www.wrappixel.com/"
                       class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                        <i class="ti ti-gift fs-5"></i>
                        Templates
                    </a>
                    <a href="https://www.wrappixel.com/hire-us/"
                       class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                        <i class="ti ti-briefcase fs-5"></i>
                        Hire Us
                    </a>
                </div>
            </div>

            <div class="d-lg-flex align-items-center gap-2">
                <h3 class="text-white mb-2 mb-lg-0 fs-5 text-center">Check Spike Premium Version</h3>
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <div class="dropdown d-flex">
                        <a class="btn btn-outline-primary d-flex align-items-center gap-1 " href="javascript:void(0)" id="drop3"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-device-laptop fs-5"></i>
                            Live Preview
                            <i class="ti ti-chevron-down fs-5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop3">
                            <div class="message-body">
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Bootstrap Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Angular Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-vuejs-admin-dashboard/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    VueJs Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    NextJs Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Tailwind Preview
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown d-flex">
                        <a class="btn btn-primary d-flex align-items-center gap-1 " href="javascript:void(0)" id="drop4"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-shopping-cart fs-5"></i>
                            Buy Now
                            <i class="ti ti-chevron-down fs-5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop4">
                            <div class="message-body">
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Bootstrap Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Angular Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-vuejs-admin-dashboard/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    VueJs Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    NextJs Preview
                                </a>
                                <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376"
                                   class="dropdown-item d-flex align-items-center gap-1">
                                    <i class="ti ti-external-link fs-5"></i>
                                    Tailwind Preview
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Sidebar Start -->
        <aside class="left-sidebar" style="position:fixed; top:60px; bottom:0; overflow-y:auto;">
            <div class="h-100">
                <div class="brand-logo d-flex align-items-center justify-content-between px-3 py-2">
                    <a href="/Dashboard/AdminDashboard" class="text-nowrap logo-img">
                        <img src="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/logo.svg" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Admin/AdminDashboard/">
                                <iconify-icon icon="solar:notes-broken" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Category/CategoryList">
                                <iconify-icon icon="material-symbols:list-alt-outline" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Kategoriler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Destination/DestinationList">
                                <iconify-icon icon="solar:gallery-edit-line-duotone" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Destinasyonlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Booking/BookingList">
                                <iconify-icon icon="solar:letter-linear" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Rezervasyonlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Feature/FeatureList">
                                <iconify-icon icon="solar:layers-minimalistic-outline" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Özellikler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Testimonial/TestimonialList">
                                <iconify-icon icon="solar:chat-square-check-line-duotone" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Yorumlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/TripPlan/TripPlanList">
                                <iconify-icon icon="solar:history-3-linear" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Tur Planları</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/AdminRecommendations/Index">
                                <iconify-icon icon="solar:compass-big-bold-duotone" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">AI Önerileri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Default/Index" target="_blank">
                                <iconify-icon icon="solar:home-2-linear" width="24" height="24"></iconify-icon>
                                <span class="hide-menu">Anasayfaya Git</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- Sidebar End -->
        <!-- Main wrapper -->
        <div class="body-wrapper" style="margin-left:250px;">
            <div class="body-wrapper-inner">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/sidebarmenu.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/app.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/dashboard.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>