@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <form method="post">
        <label>Kategori Adını Giriniz</label>
        <input type="text"asp-for="CategoryName" class="form-control"/>
        <br />
        <label>Açıklama Giriniz</label>
        <input type="text" asp-for="Description" placeholder="Açıklama Giriniz" class="form-control" />
        <br />
        <label>İkon Giriniz</label>
        <input type="text" asp-for="IconUrl" placeholder="İkon Giriniz" class="form-control" />
        <br />
        <label>Kategori Durumu Seçiniz</label>
        <select asp-for="Status" class="form-control">
        <option>Seçiminizi Yapın</option>
        <option value="true">Var</option>
        </select>
        <br />
        <button class="btn btn-primary">Kategori Ekle</button>
    </form>
</div>